{% extends 'layout.html' %}


{% block content %}
<div class="container" style="padding:0 50 50 50;">
        <legend style="margin-bottom: 40px; padding-top: 80px; text-align: center;">{{legend}}</legend>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3">
                {{ form.title(class='form-control input_user', placeholder='Judul postingan disini...') }}                
            </div>
            <div class="input-group mb-2">
                {{ form.content(class='form-control input_user', placeholder='Masukan isi postingan disini... ') }}                   
            </div> <br>
            <div class="d-flex justify-content-center mt-3 login_container">
                {{ form.submit(class='btn btn-primary mb-5') }}
            </div>                         
        </form>   
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}

{% endblock content %}