{% extends 'layout.jinja2' %}


{% block content %}
<div class="d-flex justify-content-center h-100" style="padding: 250px;">
	<div class="user_card">
		<div class="d-flex justify-content-center ">
			<div class="brand_logo_container">
				<img src="{{ url_for ('static', filename='img/default.png') }}" class="brand_logo" alt="Logo">
			</div>
		</div>
		<!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
		
		<div class="d-flex justify-content-center form_container">
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				<div class="text-center">
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
					{% endwith %}
				</div>
                <div class="input-group mb-3">
                    <div class="input-group-append ">
                        <span class="btn btn-primary"><i class="fa fa-envelope"></i></span>
                    </div>
                    {% if form.email.errors %}
                        {{ form.email(class='form-control is-invalid input_user', placeholder='email') }}
                        <div class="text-center invalid-feedback">
                            {% for error in form.email.errors %}
                            {{error}}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control input_user', placeholder='email') }}
                    {% endif %}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="btn btn-primary"><i class="fa fa-key"></i></span>
                    </div>
                    {% if form.password.errors %}
                        {{ form.password(class='form-control is-invalid input_user', placeholder='password') }}
                        <div class="text-center invalid-feedback">
                            {% for error in form.password.errors %}
                            {{error}}
                            {% endfor %}
                        </div>
                    {% else %}
                       {{ form.password(class='form-control input_user', placeholder='password') }}
                    {% endif %}
                </div> <br>
                <div class="d-flex justify-content-center mt-3 login_container">
                    {{ form.submit(class='btn btn-primary') }}
                </div>

            </form>
		</div>
		
		<div class="mt-4">
            <div class="d-flex justify-content-center links mb-3">
				<a href="#">Lupa password?</a>
			</div>
			<div class="d-flex justify-content-center links ">
				Belum punya akun? <a href="{{ url_for ('register') }}" class="ml-2">silakan daftar</a>
			</div>

		</div>
		
	</div>
</div>
{% endblock content %}
	